@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rundeck");
@import url("https://fonts.cdnfonts.com/css/munich-2");
:root {
  --main_color: #362706;
  --secondary_color: #464e2e;
  --third_color: #acb992;
  --fourt_color: #e9e5d6;
}
* {

  font-family: "Fjalla One", sans-serif;
}
.two_letter_span{
  border-bottom: 3px solid var(--secondary_color);
  color: var(--secondary_color);
}