:root {
    --main_color: #362706;
    --secondary_color: #464e2e;
    --third_color: #acb992;
    --fourt_color: #e9e5d6;
  }
.special_coffee{
  margin-bottom: 20vh;
}
.special_beans_side{
  margin-top: 10vh;
}
.special_beans_heading{
    font-weight: 700;
}
.icon {
    font-size: 20px;
    color: var(--secondary_color);
  }
  .sub_text3 {
    font-size: 11px;
    font-style: italic;
    color: var(--secondary_color);
  }
  .beans_btn{
    border: 1px solid var(--main_color);
    border-radius: 0;
    color: var(--main_color);
  }
@media only screen and (min-width: 1200px) {
    .img{
        max-width: 80%;
    }
}